<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skybooker.admin.mapper.AdminOperationLogMapper">

    <insert id="insertLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO admin_operation_log(admin_user_id, target_type, target_id, action, reason)
        VALUES(#{adminUserId}, #{targetType}, #{targetId}, #{action}, #{reason})
    </insert>

</mapper>
